<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/queries.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic&subset=latin,latin-ext' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.4.1/collection/icon/icon.css" rel="stylesheet" type="text/css" />

    <title>Weconnect</title></head>

<body>
    <header id="home">
        <nav>
            <div class="row">
                    <img src="../resources/img/wc.png" alt="logo" class="logo" style="color:black">
                <ul class="main-nav js--main-nav">
                    <li><a href="/" class="close">Home</a></li>
                </ul>
                <a class="mobile-nav-icon js--nav-icon"><i class="fas fa-bars"></i></a>


                <!-- <p class="main-heading">wallstreet &nbsp; media &nbsp; house </p> -->
            </div>
        </nav>
        <form method="POST" action="/signup" class="contact" style="margin-top:180px;margin-left: 400px;">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email" style="color:white">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="username" id="email" placeholder="Your email" style="width:50%" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="password" style="color:white">Password</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="password" name="password" id="password" placeholder="Your Password" style="width:50%"
                        required>
                </div>
            </div>


            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="Send it!" class="btn btn-full pointer" style="margin-left:60px;">
                </div>
            </div>
            <input type="text" name="_gotcha" style="display:none" />
            <input type="hidden" name="_next" value="https://site.io/thanks.html" />
        </form>
    </header>

</body>

</html>